/*SELECTOR UNIVERSAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*HEADER/H2 DE LAS TODAS LAS PAGINAS*/

header {
    background-color: rgb(12, 109, 109);
    min-height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

main {
    min-height: 50%;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logo {
    height: 12.5vh;
    order: 0;
}

h1 {
    text-align: center;
    order: 1;
    flex-grow: 4;
    font-size: 1.5rem;
    color: white;
}

nav {
    order: 2;
}

nav a {
    text-decoration: none;
    background-color: rgb(11, 151, 151);
    color: white;
    border-radius: 10px;
}

.actualpag {
    background-color: rgb(218, 156, 23);
}

#h2todos {
    margin: 0.8rem;
    padding: 1rem;
    max-height: 3.5rem;
    color: rgb(218, 156, 23);
    -webkit-text-stroke: 1px black;
    background-color: rgb(11, 151, 151);
    border-radius: 2rem;
}

p {
    text-align: center;
}

p,
li {
    line-height: 2.5rem;
}

/*INDEX*/

.img1hockey {
    width: 25rem;
    position: relative;
    top: 10rem;
    right: 25rem;
}

.h2index {

    position: relative;
    left: 20rem;
    bottom: 12rem;

}

.eventos-inicio {
    position: relative;
    bottom: 7rem;
}

/*ABOUT*/
.h2about {
    text-align: center;
    padding: 0.5rem;
}

.secabout {
    width: 40%;
    height: 20rem;
}

/*CONTACT*/

.divcontact {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}


/*PAGINA ABOUT y RULES*/
div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
}


section {
    background-color: rgb(11, 151, 151);
    border-radius: 20px;
    padding: 0.1rem;
    margin: 1.5rem;

}

.sectionrules {
    margin: 0.5rem;
}

li {

    margin: 1.5rem;
}

h4 {
    font-weight: bold;
}

/*PAGINA RULES*/

#prules {
    margin: 1.5rem;
}

.psport {
    margin-left: 1rem;
}

.li-all-play,
.eventos-inicio {
    list-style: none;
}

.ol-fields {
    list-style: lower-alpha;
}

/*PAGINA GAME*/

tr,
th,
td {
    padding: 0.5rem;
    text-align: center;
}

.fechas {
    width: 5rem;
    text-align: center;
}

.grupos {
    width: 8rem;
}

.ubicacion {
    width: 10rem;
}

.horarios {
    width: 10rem;
}

.datos-extra {
    width: 50rem;
    padding: 2rem;
    display: flex;
    right: 40rem;

}

span {
    font-weight: bold;
}

.contacto-game {
    padding-bottom: 2rem;

}

.phone-game {
    padding-left: 6rem;
}

caption {
    margin-bottom: 3rem;
    text-align: left;

}

.maps {
    width: 40rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
}

/*PAGINA REGISTRATION*/


form {
    /* width: 50rem;
    height:100%; */
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #ccc;


}

input {
    background: none;
    border: none;
    border-bottom: solid 2px #474544;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    box-sizing: border-box;

}

#enviar {
    width: 6rem;
    height: 2.5rem;
    border: PowderBlue 2px solid;
    border-radius: 2rem;
    background-color: rgb(11, 151, 151);
    position: relative;
 
}



/*SHOW DATA*/

.tabla-data {
    padding: 6rem;

}


@media only screen and (max-width: 425px) {

    /*PARA TODAS LAS PAGINAS*/

    header {
        flex-wrap: wrap;
        gap: 1rem;
    }

    main {
        min-height: 80vh;
        padding: 1rem 0;

    }

    .logo {
        position: relative;


    }


    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    nav a {
        margin: 0.1rem;
        gap: 1rem;
        text-align: center;
    }

    #h2todos {
        padding: 0.1rem;
        position: relative;


    }

    /*INDEX*/

    .img1hockey {
        position: static;

    }

    .eventos-inicio {
        position: relative;
        top: 0.5rem;
    }

    .h2index {
        text-align: center;
        left: 0;
        bottom: 0;

    }

    /*ABOUT*/

    div {
        flex-direction: column;
        position: relative;

    }


    /*GAME*/

    .maps {
        gap: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;

    }

    .datos-extra {
        width: 100%;
        right: 0;

    }


    /*REGUSTRATION*/

    form {
        width: 15rem;
        height: 100%;
        border-radius: 10px;
        margin: 0;
    }

   
}